@{
    ViewData["Title"] = "Approval Pending";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center" style="margin-top:50px">
    <h1 class="display-4">Thank you for registering!</h1>
    <p>Please wait until your request is approved. <a href="#">You will be contacted as soon as possible.</a>.</p>
</div>
