@{
    ViewData["Title"] = "User Delete";
}

<div class="text-center" style="margin-top:50px">
    <h1 class="display-4">User Is Delete</h1>
    <p>You do not have access to this page <a href="mailto:bustracking4563069@gmail.com">Please contact the administrator for further assistance.</a>.</p>
</div>
