<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Ansonika">
    <title>BUS TRACKER - @ViewData["Title"]</title>
    <!-- Favicons-->
    <link rel="shortcut icon" href="~/AdminSection/img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" type="image/x-icon" href="~/AdminSection/img/apple-touch-icon-57x57-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="~/AdminSection/img/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="~/AdminSection/img/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="~/AdminSection/img/apple-touch-icon-144x144-precomposed.png">
    <!-- Bootstrap core CSS-->
    <link href="~/AdminSection/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Main styles -->
    <link href="~/AdminSection/css/admin.css" rel="stylesheet">
    <!-- Icon fonts-->
    <link href="~/AdminSection/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Plugin styles -->
    <link href="~/AdminSection/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
    <!-- Custom styles for All pages -->
    <link href="~/AdminSection/css/custom.css" rel="stylesheet">
    <!-- Custom styles for this page -->
    @await RenderSectionAsync("Css", required: false)


</head>

<body class="fixed-nav sticky-footer" id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-default fixed-top" id="mainNav">
        <a class="navbar-brand" href="~/"><img src="~/AdminSection/img/logo.png" alt="" width="167" height="36"></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">

            <ul class="navbar-nav ml-auto">

                <partial name="_LoginPartial" />

   @*             <li class="nav-item">
                    <a href="~/User/Login" class="nav-link">
                        <i class="fa fa-fw fa-sign-in"></i>Login
                    </a>
                </li>
                <li class="nav-item">
                    <a href="~/User/Register" class="nav-link">
                        Register
                    </a>
                </li>*@

            </ul>
        </div>
    </nav>
    <!-- /Navigation-->


    <div>

        @RenderBody()

    </div>

    <footer class="sticky-footer">
        <div class="container">
            <div class="text-center">
                <small>Copyright © Bus Tracking 2023</small>
            </div>
        </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fa fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="~/Admin/User/Logout">Logout</a>
                </div>
            </div>
        </div>
    </div>


    <!-- Bootstrap core JavaScript-->
    <script src="~/AdminSection/vendor/jquery/jquery.min.js"></script>
    <script src="~/AdminSection/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="~/AdminSection/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Page level plugin JavaScript-->
    <script src="~/AdminSection/vendor/chart.js/Chart.js"></script>
    <script src="~/AdminSection/vendor/datatables/jquery.dataTables.js"></script>
    <script src="~/AdminSection/vendor/datatables/dataTables.bootstrap4.js"></script>
    <script src="~/AdminSection/vendor/jquery.magnific-popup.min.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="~/AdminSection/js/admin.js"></script>
    <!-- Custom scripts for this page-->
    @await RenderSectionAsync("Scripts", required: false)
</body>


</html>
